body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../images/background.jpg);
    background-size: cover;
}

#piano {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
}

#piano .white-key {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 50px;
    height: 150px;
    background: white;
    display: inline-block;
    margin: 2px;
}

#piano .black-key {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 34px;
    height: 100px;
    background: black;
    display: inline-block;
}

#piano .white-key.pressed {
    border: 3px solid cornflowerblue;
}

#piano .black-key.pressed {
    border: 2px solid cornflowerblue;
}

#piano audio {
    display: none;
}

#Db3-key {
    left: 39px;
}

#Eb3-key {
    left: 93px;
}

#Gb3-key {
    left: 201px;
}

#Ab3-key {
    left: 255px;
}

#Bb3-key {
    left: 309px;
}

#Db4-key {
    left: 417px;
}

#Eb4-key {
    left: 471px;
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    img#background {
        left: 50%;
        margin-left: -512px; /* 50% */
    }
}